.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--orange1);
    height: 80px;
    width: 100vw;
    gap: 80px;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
 
h1{
    color: var(--orange1);

}