.diario {
    font-family: Arial, sans-serif;
    background-color: var(--orange1);
    color: #fff;
    padding: 20px;
}

.diario-header {
    text-align: center;
    margin-bottom: 20px;
}

.pilulas, .diario-texto, .mood-tracker, .checklist, .dashboards {
    margin-bottom: 20px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 15px;
}

.diario-texto button{
    margin-top: 15px;
}


.pilulas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ver-mais, .salvar, .mood {
    background-color: var(--orange1);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mais:hover, .salvar:hover, .mood:hover {
    background-color: var(--orange1);
}

.moods {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.checklist ul {
    list-style: none;
    padding: 0;
}

.checklist li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.checklist input {
    margin-right: 10px;
}

.grafico {
    font-size: 14px;
}


.dashboards {
    background: #fff;
    color: #000;
    padding: 15px;
    border-radius: 10px;
}

.grafico {
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.grafico h3 {
    font-size: 18px;
    background-color: var(--orange1);
    margin-bottom: 10px;
    color: var(--font1);
    padding: 5%;
    border-radius: 5px;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.108);
}

.grafico p {
    margin: 5px 0;
    font-size: 14px;
}
